<a href="https://colab.research.google.com/github/SrijaG29/Chitarachaya_web_scraping-Visualization/blob/main/Example_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
employee_data = """EmpID,Name,Age,Department,Salary,Joining_Date
1,John Doe,28,Sales,50000,2022-01-15
2,Jane Smith,34,HR,62000,2021-03-10
3,Bob Johnson,45,Engineering,75000,2019-08-23
4,Alice Williams,29,Marketing,58000,2020-07-01
5,David Brown,38,Sales,54000,2018-04-15
6,Emily Davis,25,Engineering,69000,2023-06-30
7,Michael Wilson,41,HR,72000,2017-11-21
8,Emma Moore,30,Marketing,61000,2022-09-17
9,Liam Taylor,36,Engineering,80000,2020-01-12
10,Olivia Martinez,32,Sales,62000,2019-05-05
"""

In [40]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [41]:
from pyspark import SparkConf,SparkContext

In [42]:
c = SparkConf().setAppName("Practise pyspark")
sc = SparkContext.getOrCreate(conf = c)

In [43]:
with open('practise.txt','w') as f:
  f.write("EmpID,Name,Age,Department,Salary,Joining_Date \n")
  f.write("1,John Doe,28,Sales,50000,2022-01-15 \n")
  f.write("2,Jane Smith,34,HR,62000,2021-03-10 \n")
  f.write("4,Alice Williams,29,Marketing,58000,2020-07-01 \n")
  f.write("5,David Brown,38,Sales,54000,2018-04-15 \n")
  f.write("6,Emily Davis,25,Engineering,69000,2023-06-30 \n")
  f.write("7,Michael Wilson,41,HR,72000,2017-11-21 \n")
  f.write("8,Emma Moore,30,Marketing,61000,2022-09-17 \n")
  f.write("9,Liam Taylor,36,Engineering,80000,2020-01-12 \n")
  f.write("10,Olivia Martinez,32,Sales,62000,2019-05-05 \n")

In [44]:
with open('practise.txt','r') as f:
  x = f.read()
  print(x)

EmpID,Name,Age,Department,Salary,Joining_Date
1,John Doe,28,Sales,50000,2022-01-15
2,Jane Smith,34,HR,62000,2021-03-10
4,Alice Williams,29,Marketing,58000,2020-07-01
5,David Brown,38,Sales,54000,2018-04-15
6,Emily Davis,25,Engineering,69000,2023-06-30
7,Michael Wilson,41,HR,72000,2017-11-21
8,Emma Moore,30,Marketing,61000,2022-09-17
9,Liam Taylor,36,Engineering,80000,2020-01-12
10,Olivia Martinez,32,Sales,62000,2019-05-05

In [45]:
from pyspark.sql import SparkSession

In [46]:
p_spark = (
    SparkSession
    .builder
    .appName("Practise Pyspark")
    .master("local[*]")
    .getOrCreate()
)

In [47]:
df = p_spark.read.format('csv').option("header",True).load('/content/practise.txt')

In [48]:
df.show()

+-----+---------------+---+-----------+------+-------------+
|EmpID|           Name|Age| Department|Salary|Joining_Date |
+-----+---------------+---+-----------+------+-------------+
|    1|       John Doe| 28|      Sales| 50000|  2022-01-15 |
|    2|     Jane Smith| 34|         HR| 62000|  2021-03-10 |
|    4| Alice Williams| 29|  Marketing| 58000|  2020-07-01 |
|    5|    David Brown| 38|      Sales| 54000|  2018-04-15 |
|    6|    Emily Davis| 25|Engineering| 69000|  2023-06-30 |
|    7| Michael Wilson| 41|         HR| 72000|  2017-11-21 |
|    8|     Emma Moore| 30|  Marketing| 61000|  2022-09-17 |
|    9|    Liam Taylor| 36|Engineering| 80000|  2020-01-12 |
|   10|Olivia Martinez| 32|      Sales| 62000|  2019-05-05 |
+-----+---------------+---+-----------+------+-------------+

Filter Employees by Department HR

In [49]:
Human_resource = df.filter(df.Department == 'HR')
Human_resource.show()

+-----+--------------+---+----------+------+-------------+
|EmpID|          Name|Age|Department|Salary|Joining_Date |
+-----+--------------+---+----------+------+-------------+
|    2|    Jane Smith| 34|        HR| 62000|  2021-03-10 |
|    7|Michael Wilson| 41|        HR| 72000|  2017-11-21 |
+-----+--------------+---+----------+------+-------------+

In [50]:
print(df.dtypes)

[('EmpID', 'string'), ('Name', 'string'), ('Age', 'string'), ('Department', 'string'), ('Salary', 'string'), ('Joining_Date ', 'string')]

In [65]:
from pyspark.sql.functions import count,col
x = df.groupBy("Department").agg(count(df.Salary).alias("No_of_Employees"))
x.show()

+-----------+---------------+
| Department|No_of_Employees|
+-----------+---------------+
|      Sales|              3|
|Engineering|              2|
|         HR|              2|
|  Marketing|              2|
+-----------+---------------+